.text-wrapper {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #767676;
  line-height: 24px;
  float: center;
  padding: 80px 0px;
  text-align: justify;
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #30373b;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    color: #30373b;
  }
}
.first-list {
  list-style: none;
}
@media (min-width: 320px) {
  .content-text {
    margin: 0px 20px;
  }
}
@media (min-width: 768px) {
  .content-text {
    margin: 0px 0px;
  }
  .text-wrapper {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .text-wrapper {
    width: 850px;
  }
}
@media (min-width: 1200px) {
  .text-wrapper {
    width: 900px;
  }
}
