.my-gallery {
  width: 100%;
}
.my-gallery img {
    width: 100%;
    height: auto;
}
.my-gallery figure {
    display: inline-block;
    float: left;
    margin: -5px 5px 5px 0;
    width: 150px;
}
  .my-gallery figcaption {
    display: none;
}
#holwik-gallery {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}
@media (min-width: 320px) {
  #holwik-gallery {
    margin-top: 40px;
    background-color: white;
  }
  .my-gallery {
    height: 600px;
    margin: 40px;
  }
}
@media (min-width: 768px) {
  #holwik-gallery {
    width: 700px;
    margin: 40px;
  }
  .my-gallery {
    height: 0px;
    min-height: 100px;
    margin: 0px;
    padding-bottom: 200px;
  }
}
@media (min-width: 992px) {
  #holwik-gallery {
    width: 990px;
    margin: 100px 0px;
  }
  .my-gallery {
    margin-left: 35px;
    min-height: 100px;
    padding-bottom: 100px;
  }
}
