.image {
  width: 100%;
  margin-top: -5px;
}
#home {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 40px;
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    color: #767676;
    font-weight: 300;
  }
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #30373b;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
.button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 16px;
  background: #005f37;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #327e5e;
  text-decoration: none;
}
@media (min-width: 320px) {
  .content-image, .image-home, .image {
    display: none;
  }
}
@media (min-width: 568px) {
  .content-image, .image-home {
    display: initial;
  }
  .home-wrapper {
    height: 400px;
  }
  .image-home {
    margin-top: 85px;
  }
  .content-image {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  #home {
    width: 700px;
  }
  .content-image {
    margin-top: 40px;
  }
  .image {
    display: initial;
  }
}
@media (min-width: 992px) {
  #home {
    width: 990px;
  }
  .home-wrapper h1 {
    margin-top: 80px;
  }
  .image-home {
    margin-top: 30px;
  }
  .content-left {
    margin-right: 50px;
  }
  .content-right {
    margin-left: 50px;
  }
}
