.iframe-responsive iframe {
  max-width: 100%;
  margin-top: -5px;
}
.contact-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #767676;
  p {
    text-align: center;
    font-weight: 500;
  }
}
#map{
  width:100%;
  height: 500px;
}
.hide{
  display: none;
}
.info{
  border: 1px solid #fff;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.info p{
  color: blue;
  font-size: 14px;
  margin: 0;
}
@media (min-width: 320px) {
  .center-block {
    width: auto;
    margin: 20px;
  }
}
@media (min-width: 768px) {
  .center-block {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .center-block {
    width: 850px;
  }
}
@media (min-width: 1200px) {
  .center-block {
    width: 900px;
    padding: 80px 0px;
  }
}
