.products {
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%,0%);
  text-align: center;
  ul {
    padding: 80px 0px;
    list-style: none;
    li {
      margin: 15px;
      display: inline-block;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #767676;
  }
}
.products a {
  text-decoration: none;
}
.product-image {
  width: 250px;
  height: 150px;
}
@media (min-width: 768px) {
  .products {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .products {
    width: 990px;
  }
}
