.services {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  ul {
    list-style: none;
    margin: 80px 0px;
    li {
      display: block;
      margin-top: 20px;
    }
  }
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #767676;
  }
}
.service-image {
  width: 250px;
  height: 150px;
}
@media (min-width: 320px) {
  .services ul {
    text-align: center;
    margin-left: -30px;
  }
  .services p {
    margin-top: -15px;
  }
}
@media (min-width: 568px) {
  .services p {
    margin: 70px 0px 0px 60px;
    text-align: left;
  }
  .service-image {
    float: right;
  }
}
@media (min-width: 992px) {
  .services {
    width: 990px;
  }
}
