#footer {
  width: 100%;
  background-color: #f9fafa;
}
.footer-bottom {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #b6b6b4;
}
.footer-menu {
  ul {
    text-align: left;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    li {
      display: block;
    }
    a {
      text-decoration: none;
      color: #b6b6b4;
      font-weight: 300;
      padding: 6px 0px;
      display: block;
      &:hover {
        color: #005f37;
      }
    }
    .active {
      a {
        color: #005f37;
      }
    }
  }
}
.footer-bottom h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin: 0 0 9px;
  padding-bottom: 15px;
  color: #767676;
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
  text-align: left;
}
.usluge ul li, .proizvodi ul li {
  list-style: none;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding: 6px 0px;
}
.copy {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin: 0 0 9px;
  padding-top: 20px;
  color: #767676;
  border-top: 1px solid #e5e5e5;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 320px) {
  .footer-bottom h4 {
    padding-left: 15px;
  }
  .footer-menu a, .usluge ul, .proizvodi ul {
    margin-left: -25px;
  }
}
@media (min-width: 768px) {
  .footer-bottom {
    width: 700px;
  }
  .footer-menu {
  }
  .copy {
    text-align: center;
    margin-top: 32px;
  }
  .social {
    text-align: right;
    margin-top: 31px;
  }
}
@media (min-width: 992px) {
  .footer-bottom {
    width: 990px;
  }
}
body {
  margin: 0;
}
