#header {
  background-color: #f9fafa;
}
#nav-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  ul {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: #767676;
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #header {
    height: 100px;
  }
  .logo {
    display: none;
  }
  #nav-container {
    background: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 80%;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    display: block;
    -webkit-transform: translate3d(-600px, 0px, 0px);
    -moz-transform: translate3d(-600px, 0px, 0px);
    -ms-transform: translate3d(-600px, 0px, 0px);
    -o-transform: translate3d(-600px, 0px, 0px);
    transform: translate3d(-600px, 0px, 0px);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
  }
  #nav-container.opened {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    background-color: #f9fafa;
  }
  #nav-container li {
    margin-top: -20px;
    padding: 10px 0px;
    display: block;
  }
  #nav-container li a {
    margin-left: -20px;
    width: 100%;
    display: block;
    padding: 20px 0px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  #nav-container li a:hover {
    color: #005f37;
  }
  #nav-container li a:active {
    color: #005f37;
  }
  #toggle-nav {
    display: block;
    height: 70px;
    width: 70px;
  }
  #toggle-nav:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 40px;
    width: 24px;
    height: 3px;
    background: #005f37;
    box-shadow: 0 6px 0 0 #005f37, 0 12px 0 0 #005f37;
  }
  #close-nav {
    margin: 10px;
    display: block;
    padding: 10px;
    background: #F9FAFA;
    height: 30px;
    text-align: right;
    font-weight: bold;
    color: #767676;
    text-decoration: none;
    border-bottom: 1px solid #e5e5e5;
  }
  #close-nav:after {
    content: '✖';
    padding: 5px 8px;
    border: 2px solid #767676;
    border-radius: 50%;
  }
  .logo-xs {
    width: 180px;
    height: 80px;
    margin:10px;
  }
}
@media (min-width: 768px) {
  #header {
    margin-top: -15px;
  }
  .logo-xs {
    display: none;
  }
  #nav-container {
    height: 120px;
    margin-top: 0;
    ul {
      float: right;
      li {
        display: inline-block;
        margin: 41px 7px 0px 7px;
      }
      a {
       color: #ccc;
        &:hover {
          padding-top: 42px;
          background: #005f37; /* Old browsers */
          background: -moz-linear-gradient(top,  #005f37 0%, #005f37 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #005f37 0%,#005f37 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #005f37 0%,#005f37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          background-size: 100% 7px;
          background-repeat: no-repeat;
          color: #006038;
        }
      }
      .active {
        a {
          padding-top: 42px;
          background: #005f37; /* Old browsers */
          background: -moz-linear-gradient(top,  #005f37 0%, #005f37 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #005f37 0%,#005f37 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #005f37 0%,#005f37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          background-size: 100% 7px;
          background-repeat: no-repeat;
          color: #006038;
        }
      }
    }
  }
  .logo {
    width: 200px;
    height: 80px;
    left: 0px;
    margin: 24px 0px 10px 10px;
  }
  #close-nav {
    display: none;
  }
}
@media (min-width: 992px) {
  #nav-container {
    width: 970px;
  }
}
