<% provide(:title, "Efikasnije korištenje strojeva u pilanskoj preradi") %>
<div class="efikasnost">
  <div class="text-wrapper">
    <div class="grid">
      <div class="unit whole">
        <div class="content-text">
          <h1>Efikasnije korištenje strojeva u pilanskoj preradi</h1>
          <p>Problem efikasnijeg korištenja sredstava rada prisutan je u svakoj proizvodnji. Učin strojeva u pilanskoj preradi u određenom periodu proporcionalan je sa posmičnom brzinom, visinom reza i vremenom rada u promatranom periodu. Ovi parametri ovisni su u prvom redu o: utjecaju alata, utjecaju stroja, utjecaju obratka i utjecaju poslužitelja. Ovi utjecaji očituju se kroz njihovo ograničavanje posmične brzine, te vremena efektivnog rada stroja u promatranome periodu.</p>
          <h2 id="efikasnost">1. Utjecajne veličine koje ograničavaju efikasnost preko alata</h2>
          <p><b>Bočna stabilnost alata</b> je najčešće prisutan ograničavajući faktor na veličinu posmične brzine. Pri narušavanju bočne stabilnosti alata prva reakcija poslužioca je smanjenje posmične brzine, što dovodi do pada efikasnosti stroja kroz smanjenje učina i povećanje jediničnih energetskih normativa zbog smanjenja debljine strugotine. Kod alata svih pilanskih strojeva se najčešće kao uzrok gubitka bočne stabilnosti javljaju sljedeći utjecajni parametri: </p>
          <ul class="first-list">
            <li>a) neodgovarajuća priprema ozubljenja</li>
            <li>b) nedovoljna napetost ili nepravilna napetost</li>
            <li>c) toplinske pojave</li>
            <li>d) neusklađenost pravca posmične brzine i ravnine u kojoj je smješten alat </li>
          </ul>
          <p>a) <i>Neodgovarjuća priprema ozubljenja</i> podrazumjeva veći broj grešaka koje se mogu pojaviti kod izbora alata, te uređivanja alata. Postoje preporuke o odnosima geometrijskih veličina ozubljenja pri piljenju pojedinih vrsta drva. U praksi se često susreću alati s neodgovarajućim odnosima geometrijskih veličina ozubljenja. Narušavanje nekih odnosa može izazvati i lateralnu nestabilnost alata. Primjerice, prevelika visina zuba za zadani korak ozubljenja uzrok je povećanim amplitudama vibracije alata. Iste posljedice ima i premaleni kut klina pri rezanju tvrdog drva. Da bi se alat umirio potrebno je smanjiti silu rezanja. Sila rezanja se smanjuje smanjenjem površine poprečnog presjeka strugotine, a ona pak smanjenjem posmične brzine.<br>
          Širina propiljka se povećava u odnosu na debljinu lista pile, uglavnom stlačivanjem i razvraćanjem zubi. Poznato je da razvraćeni zubi pri rezanju stvaraju strugotinu neravnomjerne debljine po duljini glavnog reznog brida. Usljed neravnomjerne debljine strugotine, pravac djelovanja rezultantne sile se ne poklapa sa neutralnom osi alata što isto isto tako uzrokuje skretanje lista u propiljku.<br>
          Problem postaje tim izraženiji ukoliko se radi istovremeno i o neravnomjernom razvraćanju. Isti se problemi mogu sresti i kod stlačenih zubi ako se pojavi nejednoliko stlačenje na obje strane ili nejednoliki oblik i položaj bočnih ploha rezne oštrice. Posljedice ovakvih grešaka su jednake posljedicama navednih kod razvraćenih zubi.</p>
          <p>b) <i>Unutarnja naprezanja</i> koja unosimo u listove tračnih i kružnih pila te pila jarmača s ciljem da povećamo njihovu krutost u propiljku te da omogućimo djelomičnu kompenzaciju neravnomjernih temperaturnih diletacija, mogu biti nedostatna ili prevelika, ali isto tako i nepravilno izvedena. U sva tri slučaja doći će do smanjenja krutosti alata, a time i do smanjenja bočne stabilnosti. Mada postoje vrlo jasne preporuke o načinima napinjanja listova pila, treba reći da se ispravna priprema listova napinjanjem vrlo rijetko sreće u našim pogonima. Problem nedovoljne stabilnosti lista pile u radu, izazvan neodgovarajućim napinjanjem također minorizira smanjivanjem posmične brzine, čime se smanjuje učin.</p>
          <p>c) Sva mehanička energija dovedena za rezanje se pretvara u toplinsku energiju. S obzirom da se transformacija energije vrši na samoj reznoj oštrici to je i raspored temperatura po poprečnom presjeku lista različit. Budući da dolazi do neravnomjernog toplinskog istezanja zagrijanih zona lista pile to neminovno vodi labavljenju dijela alata koji bi tijekom zahvata trebao pokazati najveću krutost. Ovu problematiku treba dobro poznavati jer je tome u velikoj mjeri podređeno i napinjanje lista pile. Problemi izazvani toplinskim pojavama se multipliciraju izborom neodgovarajuće veličine razvrake odnosno stlačenja te izborom neodgovarajućih režima rada.</p>
          <p>d) Pri montaži stroja i alata može doći do <i>odstupanja ravnine</i> u kojoj leži alat u odnosu na pravac posmičnog gibanja. To se odstupanje može pojaviti i tijekom eksploatacijestroja. Stoga je nužno nakon odreženog broja radnih sati izvršiti kontrolu na stroju. Pri pojavi takve greške, dolazi do izvijanja alata u propiljku, do nepotrebnih jalovih otpora te zagrijavanja i onih dijelova alata kojima se ne vrši neposredna radnja rezanja. Time se destabiliza alat u propiljk, širi se propiljak, troše se povećani jedinični energetski normativi čime proces sam sebe ubrzava. Kako bi se postigla zahtijevana kvaliteta nužno je <i>smanjiti posmičnu brzinu.</i></p>

          <p><b>Postojanost rezne oštrice</b> u mnogome ovisi i o kvaliteti postupka oštrenja alata. Izbor brusnih ploča neodgovarajuće tvrdoće i neodgovarajuće finoće brusnih zrnaca, izbor neodgovarajućih režima brušenja može značajno umanjiti postojanost brušenja. Dobro je poznato da tvrdo brušenje ima dvostruke negativne posljedice. S jedne strane dolazi do "pregaranja materijala" i to najizrazitije na vrhu oštrice. Time dolazi do pada mehaničkih svojstava, do znatnog smanjenja postojanosti, povišenih energetskih normativa te češće zamjene alata. Na taj način smanjuje se efektivno vrijeme rada stroja i povećavaju troškovi alata što višestruko smanjuje efikasnost stroja. S druge strane, tvrdim brušenjem dolazi do mikrozakljenja u korjenu zuba. Martenzitna struktura koja time nastaje na mjestima najjače koncentracije naprezanja, zbog svoje krtosti veoma često postaje uzrokom pojava mikropukotina, a potom i loma alata. To je posebno izraženo kod listova tračnih pila. Razumljivo da se na taj način povećavaju troškovi alata kako je to već i ranije utvrđeno.</p>
          <p><b>Linija oblika ozubljenja</b> se često pri brušenju narušava uslijed izbora neodgovarajućeg pribora na brusilicama za zadani oblik ozubljenja ili neodgovarajućim podešavanjem stroja. Mjesta na kojima dolazi do "lomljenja" linije ozubljenja su redovito mjesta koncentriranih naprezanja te uzrok loma zuba ili alata s već ranije spomenutim posljedicama po efikasnost strojeva.</p>
          <h2 id="velicine">2. Utjecajne veličine koje djeluju preko samog stroja na njegovu efikasnost</h2>
          <p>
          <b>Konsrtukcijske karakteristike</b> stroja su često ograničavajući faktor u povećanju efikasnosti stroja. To posebno dolazi do izražaja pri primjeni alata novije generacije na starijim strojevima. Ograničenja koja se pri tom pojavljuju su uglavnom sadržana u malom rasponu moguće regulacije posmične brzine s jedne strane, te u maloj snazi glavnog pogonskog motora s druge strane. Bez obzira na ograničenja, ni u kojem slučaju nije preporučljivo samostalno, bez stručnog savjeta i nadzora mijenjati bilo koje konstrukcijske karakteristike. Nestručne promjene mogu polučiti fatalne posljedice kako po stroj tako i po okolinu.</p>

          <p><b>Greške koje nastaju tijekom eksploatacije</b> predstavljaju isto tako ograničavajući faktor u efikasnijem korištenju strojeva. Redovita stručna kontrola strojeva te pravovremeno otklanjanje uočenih nedostataka uvjet je njihovog efikasnijeg korištenja. Vrlo su rijetke sredine koje posvećuju pažnju utvrđivanju stvarnog stanja u kojem se stroj nalazi. Greške koje se tijekom eksploatacije javljaju ne samo da direktno smanjuju efikasnost stroja već utječu i na ubrzano trošenje alata i ubrzano gubljenje radnih sposobnosti (gubljenje bočne stabilnosti) alata. Velik je broj grešaka koje mogu nastati na stroju u eksploataciji, a da pritom nije ugrožena direktno njegova osnovna funkcija. Nužne su povremene kontrole:</p>
          <ul>
            <li>bombe-a kotača tračnih pila</li>
            <li>zračnosti u uležištenjima radnog vretena, odnosno kotača tračne pile</li>
            <li>položaj osi radnog vretena odnosno kotača</li>
            <li>položaj lista pile u odnosu na smjer posmične brzine</li>
          </ul>

          <p>Dio grešaka na strojevima, pojedine radne sredine nisu u stanju same ustanoviti pa je i to često razlog njihove neefikasnosti u eksploataciji.</p>
          <h2 id="utjecaj">3. Utjecaj obratka na efikasnost strojeva</h2>
          <p>
          <b>Površinska onečišćenja</b> koja s obratkom dolaze na stroj su uglavnom sitna kamena prašina, zemlja, led, sitniji kamenčići koji se nalaze u površinskim slojevima obratka. Problem je posebno izražen u zimskim mjesecima, kada se pili smrznuto drvo. U svim pilanama je to dobro poznati problem uslijed kojeg dolazi do smanjenja postojanosti alata i do nekoliko puta u odnosu na toplije periode. Mnogi to povezuju s povećanjem tvrdoće smrznutog drveta, te time i s povećanjem jediničnih otpora rezanja. Činjenično je da se jedinični otpor rezanja kod smrznutog drva povećava za ~25% u odnosu na nesmrznuto drvo, a da su efekti na postojanost neusporedivo veći. Ovaj se problem u novije vrijeme na tračnim pilama pilama rješava pomoću kružnih pila s pločicama od sinteriranih karbida koje služe kao predrezači. Takve se pile montiraju na vodilicu lista tračne pile i u obradi prethode tračnoj pili. Pri zahvatu odvajaju materijal do visine ~5mm u protusmjernom rezu, čime se sva površinska onečišćenja otklanjaju prije nailaska alata tračne pile.Preporučljivo je, bez obzira da li su već postavljene kružne pile kao predrezači, da se povede računa o spomenutom problemu već pri manipulaciji trupaca na stovarištu. Problemi se time zasigurno mogu umanjiti.</p>
          <p><b>Razne uključine</b> koje se u trupcima pojavljuju bilo u vidu klinova koji ostaju pri sječi, bilo u vidu krhotina granata i zrna metaka, često imaju fatalne posljedice po alat. Uređaji za otkrivanje prisustva metala trupcima se zbog svoje relativno visoke cijene rijetko koriste.</p>
        </div>
      </div>
    </div>
  </div>
</div>
