<% provide(:title, "Galerija") %>

<div id="holwik-gallery">

  <div class="my-gallery" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika01.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb1.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption  1</figcaption>

    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika02.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb2.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption 2</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika03.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb3.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption 3</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika04.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb4.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption 4</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika05.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb5.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption  1</figcaption>

    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika06.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb6.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption 2</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika07.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb7.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption 3</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika08.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb8.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption 4</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika09.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb9.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption  1</figcaption>

    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika10.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb10.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption 2</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika11.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb11.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption 3</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
    <%= link_to image_url("full/slika12.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
      <%= image_tag("thumbs/thumb12.jpg", alt: "slika1", itemprop: "thumbnail") %>
    <% end %>
    <figcaption itemprop="caption description">Image caption 4</figcaption>
    </figure>

  </div>

</div>

<%= render 'pages/photoswipe' %>
<%= javascript_include_tag 'gallery' %>
