<% provide(:title, "Naslovna") %>
<%= image_tag "holwik-banner.jpg", class: "img-responsive image" %>
<div id="home">
  <div class="home-wrapper">
    <div class="grid">
      <div class="unit one-third">
        <%= image_tag "holwik.jpg", class: "img-responsive image-home" %>
      </div>
      <div class="unit two-thirds">
        <div class="content-right">
          <p>Holwik d.o.o. osnovan je sa ciljem proizvodnje vrhunskih reznih alata za drvo. Osnovna djelatnost sastoji se od proizvodnje tračnih i kružnih pila za obradu drveta. Osim proizvodnje novih tlačenih i stelitiranih pila pružamo i usluge savjetovanja i održavanja u cijelom radnom vijeku pila. Osim pomoći kod upuštanja novih pila u radi, osiguravamo kompletnu uslugu održavanja pila. Čast nam je naglasiti da kao sirovinu za sve naše alate koristimo samo na čelik firme <%= link_to "Uddeholm", "http://www.uddeholm.com/" %>. Želite li unaprijediti svoje poslovanje, te učiniti svoju proizvodnju efikasnijom oslonite se na kvalitetu, odnosno Holwik. Slobodno nas kontaktirajte, radujemo se Vašem pozivu.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-wrapper">
    <div class="grid">
      <div class="unit two-thirds">
        <div class="content-left">
          <h1>Utjecajne veličine ograničavaju efikasnost preko alata</h1>
          <p>Narušavanje bočne stabilnosti dovodi do smanjenja posmične brzine i pada efikasnosti stroja</p>
          <%= link_to "Opširnije", efikasnost_path(anchor: "efikasnost"), class: "button" %>
        </div>
      </div>
      <div class="unit one-third">
        <%= image_tag "stabilnost.jpg", class: "content-image" %>
      </div>
    </div>
  </div>
  <div class="home-wrapper">
    <div class="grid">
      <div class="unit one-third">
        <%= image_tag "stabilnost.jpg", class: "content-image" %>
      </div>
      <div class="unit two-thirds">
        <div class="content-right">
          <h1>Utjecajne veličine djeluju preko samog stroja na njegovu efikasnost</h1>
          <p>Redovita stručna kontrola strojeva te pravovremeno otklanjanje uočenih nedostataka uvjet je njihovog efikasnijeg korištenja</p>
          <%= link_to "Opširnije", efikasnost_path(anchor: "velicine"), class: "button" %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-wrapper">
    <div class="grid">
      <div class="unit two-thirds">
        <div class="content-left">
          <h1>Utjecaj obratka na efikasnost strojeva</h1>
          <p>U zimskim mjesecima dolazi do smanjenja postojanosti alata i do nekoliko puta u odnosu na toplije periode</p>
          <%= link_to "Opširnije", efikasnost_path(anchor: "utjecaj"), class: "button" %>
        </div>
      </div>
      <div class="unit one-third">
        <%= image_tag "stabilnost.jpg", class: "content-image" %>
      </div>
    </div>
  </div>
</div>
