<%= provide(:title, "Kontakt") %>
<div id="map"></div>
<div id="contact">
  <div class="contact-wrapper">
    <p>HOLWIK d.o.o. društvo s ograničenom odgovornošću za proizvodnju i trgovinu</p>
    <p>Adresa: Vladimira Nazora 110c, 33515 Orahovica</p>
    <p>Telefon: 033 / 675 - 050, 033 / 675 - 623</p>
    <p>Telefaks: 033 / 765 - 706</p>
    <p>E-mail: <%= mail_to "info@holwik.hr" %></p>
    <p>Vera Cingel, predsjednik uprave, 098 / 342 - 050</p>
    <p>Josip Matković, član uprave, 098 / 343 - 276</p>
    <p>OIB: 88601831456</p>
    <p>Upisan pri trgovačkom sudu u Bjelovaru MBS: 010037344</p>
    <p>Temeljni kapital: 900 600,00 kuna</p>
  </div>
</div>
<%= javascript_include_tag 'kontakt' %>
