<% provide(:title, "Proizvodi") %>
<div class="products">
  <div class="grid">
    <div class="unit whole">
      <ul>
        <li>
        <%= link_to root_path do %>
          <%= image_tag("tracna_drvo.jpg", class: "product-image") %>
          <p>Tračne pile</p>
        <% end %>
        </li>
        <li>
        <%= link_to root_path do %>
          <%= image_tag("kruzna_drvo.jpg", class: "product-image") %>
          <p>Kružne pile</p>
        <% end %>
        </li>
        <li>
        <%= link_to root_path do %>
          <%= image_tag("gater.jpg", class: "product-image") %>
          <p>Gateri</p>
        <% end %>
        </li>
        <li>
        <%= link_to root_path do %>
          <%= image_tag("predrezaci.jpg", class: "product-image") %>
          <p>Predrezači</p>
        <% end %>
        </li>
        <li>
        <%= link_to root_path do %>
          <%= image_tag("traka.jpg", class: "product-image") %>
          <p>Trake za tračne pile</p>
        <% end %>
        </li>
        <li>
        <%= link_to root_path do %>
          <%= image_tag("list_za_pilu.jpg", class: "product-image") %>
          <p>Listovi za ručne pile</p>
        <% end %>
        </li>
        <li>
        <%= link_to root_path do %>
          <%= image_tag("pila_trimer.jpg", class: "product-image") %>
          <p>Pile za trimere</p>
        <% end %>
        </li>
        <li>
        <%= link_to root_path do %>
          <%= image_tag("pila_meso.jpg", class: "product-image") %>
          <p>Pile za meso i kosti</p>
        <% end %>
        </li>
        <li>
        <%= link_to root_path do %>
          <%= image_tag("brusne_ploce.jpg", class: "product-image") %>
          <p>Brusne ploče</p>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
