<% provide(:title, "Usluge") %>
<div class="services">
  <ul>
    <li>
    <%= link_to root_path do%>
      <div class="grid">
        <div class="unit half">
          <%= image_tag("ostrenje.jpg", class: "service-image") %>
        </div>
        <div class="unit half">
          <p>Oštrenje pila</p>
        </div>
      </div>
    <% end %>
    </li>
    <li>
    <%= link_to root_path do%>
      <div class="grid">
        <div class="unit half">
          <%= image_tag("varenje.jpg", class: "service-image") %>
        </div>
        <div class="unit half">
          <p>Varenje pila</p>
        </div>
      </div>
    <% end %>
    </li>
    <li>
    <%= link_to root_path do%>
      <div class="grid">
        <div class="unit half">
          <%= image_tag("upustanje_u_rad.jpg", class: "service-image") %>
        </div>
        <div class="unit half">
          <p>Upuštanje novih pila u rad</p>
        </div>
      </div>
    <% end %>
    </li>
    <li>
    <%= link_to root_path do%>
      <div class="grid">
        <div class="unit half">
          <%= image_tag("ugradnja_zubi.jpg", class: "service-image") %>
        </div>
        <div class="unit half">
          <p>Ugradnja zubi</p>
        </div>
      </div>
    <% end %>
    </li>
  </ul>
</div>
