window.onload = function() {
  var local = {
    lat: 45.552888,
    lng: 17.892707
  };
  var map = new google.maps.Map(document.getElementById('map'), {
    center: local,
      zoom: 16,
      scrollwheel: true,
      draggable: true,
      mapTypeControl: false,
      panControl: true,
      panControlOptions: {
        position: google.maps.ControlPosition.TOP_RIGHT
      },
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
      position: google.maps.ControlPosition.TOP_RIGHT
      }
  });
  var contentString = '<p>HOLWIK d.o.o.</p>' +
    '<p>Vladimira Nazora 110c</p>' + '<p>33515 Orahovica</p>' +
    '<p>Telefon: 033/675-050, 033/675-623</p>' +
    '<p>Email: info@holwik.hr </p>';
  var infoWindow = new google.maps.InfoWindow({
    content: contentString,
      borderRadius: 0,
      borderWidth: 0,
      arrowSize: 20,
      maxWidth: 700,
      maxHeight: 200,
      padding: 10,
      hideCloseButton: true,
      backgroundClassName: 'info',
      arrowStyle: 0,
      ShadowStyle: 0
  });
  var image = '<%= asset_data_uri 'map_marker.png' %>'
  var marker = new google.maps.Marker({
    position: local,
      map: map,
      animation: google.maps.Animation.DROP,
      icon: image
  });
  infoWindow.open(map, marker);
  var IsOpened = true;
  marker.addListener('click', function() {
    //infowindow.open(map, marker);
    if (IsOpened) {
      infoWindow.close();
      IsOpened = false;
    } else {
      infoWindow.open(map, marker);
      IsOpened = true;
    }
  });
}
