<div id="footer">
  <div class="footer-bottom">
    <div class="grid">
      <div class="unit one-third">
        <div class="footer-menu">
          <h4>Holwik</h4>
          <%= render_main_menu %>
        </div>
      </div>
      <div class="unit one-third">
        <div class="usluge">
          <h4>Usluge</h4>
          <ul>
            <li>Oštrenje pila</li>
            <li>Varenje pila</li>
            <li>Upuštanje novih pila u rad</li>
            <li>Ugradnja zubi</li>
          </ul>
        </div>
      </div>
      <div class="unit one-third">
        <div class="proizvodi">
          <h4>Proizvodi</h4>
          <ul>
            <li>Tračne pile</li>
            <li>Kružne pile</li>
            <li>Gateri</li>
            <li>Predrezači</li>
            <li>Trake za tračne pile</li>
            <li>Listovi za ručne pile</li>
            <li>Pile za trimere</li>
            <li>Pile za meso i kosti</li>
            <li>Brusne ploče</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="unit whole">
      <div class="copy">
        <p>Holwik © 2015</p>
      </div>
    </div>
  </div>
</div>
