<div id="header">
  <%= link_to image_tag("holwik-logo.png", class: "logo-xs pull-right"), root_path %>
  <a href="#" id="toggle-nav"></a>
  <div id="nav-container">
    <a href="#" id="close-nav"></a>
    <%= link_to image_tag("holwik-logo.png", class: "logo pull-left"), root_path %>
    <%= render_main_menu %>
  </div>
</div>

