<!DOCTYPE html>
<html>
<head>
  <title>Holwik d.o.o. | <%= yield(:title) %></title>
  <%= favicon_link_tag 'favicon1.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,300italic,400italic,600,600italic,700,700italic,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

</head>
<body>

  <%= render 'layouts/header' %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</body>
</html>
